.signup-container {
    margin: 5% auto;
    background-color: whitesmoke;
    align-items: center;
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: rgb(0 0 0 / 24%) 0px -3px 17px;
    justify-content: center;
    width: 50%;
}

.error{
    color:red;
}

.image-size{

    width: 85px;
    height: 85px;

}
